<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TX Custom Boot</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <h3>TX Custom Boot</h3>
        <p>Generate a boot.dat file from a Hekate release:</p>
        
        <br />

        <form method="GET" action="/download">
          <div class="group">
            <label>Release</label>
            <select id="version" name="version">
              {% for release in releases %}
                <option value="{{ release['id'] }}">{{ release['name'] }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit">Download</button>
        </form>
      </div>
    </div>
  </body>
</html>