/* System Fonts */
body {
  background: #fafafa;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #444;
}

.wrapper {
  width: 96%;
  margin: 2rem 6rem;
}

.section {
  padding: 6px 0;
  margin-bottom: 1.4rem;
}

.heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.heading--main {
  margin-bottom: 1.4rem;
}

.heading--content {
  font-weight: 600;
}

.intro {
  margin-bottom: 1rem;
}

.text {
  max-width: 52em;
  line-height: 1.4;

  margin: 1rem 0;
}

.error {
  background-color: #eee;
  border-left: 3px solid red;
  max-width: 50%;
  padding: 8px 12px;
  margin-bottom: .5rem;
}

.error ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.error__message {
  font-weight: 500;
  margin-bottom: .5rem;
}

.error__message:first-child {
  margin-bottom: 0;
}

.code {
  background-color: #eee;
  border: 1px solid #fefefe;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;

  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7em;
}

.code--link {
  font-size: 1em;
}

.group {
  max-width: 50%;
}

.label {
  display: inline-block;
  margin-right: 0.5rem;
}

.select {
  margin-bottom: 1rem;
}

.select--version {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  border: 1px solid #cecece;
  border-radius: 6px;

  color: #444;
  line-height: 1.4;
  font-weight: 600;
  
  padding: 4px 12px;
  width: 100px;
}

.btn {
  background-color: #fefefe;
  border-radius: 3px;
  border: 1px solid #cecece;
  cursor: pointer;
  padding: 8px 12px;
}

.btn--primary {
  background-color: #06d6a0;
  border: 1px solid #06d6a0;
  color: #fafafa;
}

.btn:hover {
  background-color: #efefef;
  border: 1px solid #bebebe;
}

.btn--primary:hover {
  background-color: #048a81;
  border: 1px solid #048a81;
}

.link {
  text-decoration: none;
  color: #06d6a0;
}

.link:hover {
  text-decoration: underline;
}

.link:hover,
.link:visited {
  color: #048a81;
}

.list > li {
  margin-bottom: .5rem;
}